/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
     font-family: "Inter", sans-serif;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* keyframe animation */
.round{
     animation: round 2s linear infinite;
}
@keyframes round{
     to{
          transform: rotate(360deg);
     }
     from{
          transform: rotate(0deg);
     }
}    